{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to Flask Basics Project</h1>

    <div class="content">
        <p>This is the home page of the Flask Basics Project.</p>
    </div>

    <div class="info-box">
        <h3>Project Features</h3>
        <ul>
            <li>Flask Routing</li>
            <li>Template Inheritance</li>
            <li>Static File Handling</li>
            <li>Reusable Layout</li>
        </ul>
    </div>
{% endblock %}